article, aside, figcaption, figure, footer, header, hgroup, menu, nav, section
	{
	display:block;
	}
body{
	font-family:Berlin Sans FB, "Arial Black", arial;
	color: black;
	font-size: 100%;
	background-color:#FFE4B8;
	background-image: url('images/background1.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
#Najava{
	margin-left:1150px;
	margin-top: 70px;
	background-color: #435749;
	color:#470909;
	border-color:black;
	font-weight:normal;
	font-size:18px;
	}
#Registriraj{
	font-size:small;
	margin-left:1180px;
	margin-top:2px;
	background-color: none;
	color:#470909;
	font-weight:normal;
	}
.home{
	color:#fda925;
	font-size: 120%;
	background-color:none;
	text-align:right;
	margin-right: 1030px;
	margin-top: 50px;
	margin-left: 150px;
	}
.about{
	color:#fda925;
	font-size: 120%;
	background-color: none;
	text-align:right;
	margin-right: 1030px;
	margin-top: 20px;
	margin-left: 150px;
	}
.cast{
	color:#fda925;
	font-size: 120%;
	background-color: none;
	text-align:right;
	margin-right: 1030px;
	margin-top: 20px;
	margin-left: 150px;
	}
.photos{
	color:#fda925;
	font-size: 120%;
	background-color: none;
	text-align:right;
	margin-right: 1030px;
	margin-top: 20px;
	margin-left: 150px;
	}
a:link{
	text-decoration:none;
	color: #fda925;
	}
a:visited{
	text-decoration:none;
	color:#FD7F25;
	}
a:focus{
	text-decoration:none;
	color:#195EBF;
	}
a:hover{
	text-decoration:none;
	color:#FF0303;
	}
#main{
	background-color:#FFD894;
	font-size: 90%;
	color:black;
	font-weight:normal;
	text-indent: 20px;
	text-align:left;
	margin-top:-450px;
	margin-left:730px;
	margin-right: 300px;
	margin-bottom:2px;
	padding: 1%;
	border-style:solid;
	border-color:#1c0706;
	border:1 1 1 1px;
	}
#main-img{
	margin-top:-200px;
	margin-left:400px;
	}
#partners{
	color:#fda925;
	text-align:center;
	margin-top: -10px;
	margin-left:1150px;
	border-color: #fda925;
	background-color:black;
	}
footer{
	text-align:left;
	font-size:small;
	color: black;
	margin-top:250px;
	border-top:1px;
	border-right:0;
	border-bottom:0;
	border-left:0;
	border-style: solid;
	border-color:#fda925;
	}
#aboutf{
	margin-top:5px;
	}